name: Lint
on: pull_request

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 13
      - name: Lint accname
        run: npm install
        run: npm run check

      - name: Lint validation
        run: npm install
        run: npm run check
        working-directory: ./validation
